body{
  width: 100wh;
  height: 100vh;
  background-image:linear-gradient(135deg in ,rgb(212, 0, 255),rgb(0, 255, 149),rgb(31, 237, 248));
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  border-radius: 5px;
  border-width: 0px;
  height: 35px;
  width: 110px;
  padding:5px 10px ;
 
}
div{
  color: #fff;
  text-align: center;
}
b{
  color: rgb(43, 226, 76);
  background-color:white;
  border-radius: 50%;
  padding: 5px;
}

h3{
  font-family: roboto;
  font-style: italic;
}
